<div class="card-header">
    <label style="font-weight:bold;color:#546E7A;">spin_destination</label>
</div>
<div class="card-body">
        <div class="row">
    
        <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
                <tr>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-center"><b>campaign_id</b></h6>
                </td>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-center"><b>msisdn</b></h6>
                </td>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-right"><b>reserve</b></h6>
                </td>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-center"><b>result_text</b></h6>
                </td>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-right"><b>spin_number</b></h6>
                </td>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-right"><b>value </b></h6>
                </td>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-right"><b>win</b></h6>
                </td>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-right"><b>gift_id</b></h6>
                </td>
                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-right"><b>ccs_id</b></h6>
                </td>

                <td>
                    <h6 style="color:rgba(3, 3, 3, 0.918);" class="text-right"><b>created_at</b></h6>
                </td>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of ListUtilistaeur  | paginate: { itemsPerPage:10, currentPage: pt, id: 'pt' }">
                <td class="text-center">{{user.campaign_id.id_campaign}}</td>
                <td class="text-right">{{user.msisdn}}</td>
                <td class="text-center">{{user.reserve}}</td>
                <td class="text-center">{{user.result_text}}</td>
                <td class="text-right">{{user.spin_number}}</td>
                <td class="text-right">{{user.value}}</td>
                <td class="text-right">{{user.win}}</td>
                <td class="text-right">{{user.gift_id.id_gift}}</td>
                <td class="text-right">{{user.ccs_id}}</td>
                <td class="text-right">{{user.created_at | date}}</td>

                <td align="center" *ngIf="getuser()!='technique' && getuser()!='business'"><button class='btn btn-outline-success btn-sm' (click)="showEditModal(user)">
                        <i class="fa fa-edit" aria-hidden="true"></i></button><button style="margin:10px;"
                        class='btn btn-outline-danger btn-sm' (click)="showDeleteModal(user)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>

        </tbody>
    </table>
    <div class="panel-footer panel-default pager">
        <pagination-controls (pageChange)="pt =$event" id="pt"></pagination-controls>
    </div>
</div></div>
<div class="card-footer">
    <div class="col-2" *ngIf="getuser()!='technique' && getuser()!='business'">
        <button type="button" style="background-color: orange" (click)="showAddModal()"
            class="btn btn-block btn-primary">Ajouter</button>

    </div>
</div>



<div bsModal #utilisateurModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dark  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">spin_destination</h4>
                <button type="button" class="close" (click)="utilisateurModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 52px">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">campaign_id:</label>
                        <div class="col-md-8">
                            <ng-select [items]="listgifttype" bindLabel="id_campaign" [(ngModel)]="utilisateur.campaign_id"
                                [ngModelOptions]="{standalone: true}" name="id_campaign" id="id_campaign"
                                placeholder="selectionner campaign" style="font-weight: bold;color: black;">

                            </ng-select>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">msisdn:</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" style="font-weight: bold;color: black;"
                                [(ngModel)]="utilisateur.msisdn" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">reserve:</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" style="font-weight: bold;color: black;"
                                [(ngModel)]="utilisateur.reserve" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">result_text:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" style="font-weight: bold;color: black;"
                                [(ngModel)]="utilisateur.result_text" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">spin_number:</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" style="font-weight: bold;color: black;"
                                [(ngModel)]="utilisateur.spin_number" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">value:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" style="font-weight: bold;color: black;"
                                [(ngModel)]="utilisateur.value" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">win:</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" style="font-weight: bold;color: black;"
                                    [(ngModel)]="utilisateur.win" [ngModelOptions]="{standalone: true}" />
                            </div>
                        </div>
                        <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="text-input">gift_id:</label>
                                <div class="col-md-8">
                                    <ng-select [items]="gifts" bindLabel="id_gift" [(ngModel)]="utilisateur.gift_id"
                                        [ngModelOptions]="{standalone: true}" name="gift_id" id="gift_id"
                                        placeholder="selectionner gift_id" style="font-weight: bold;color: black;">
        
                                    </ng-select>
        
                                </div>
                            </div>
                         <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="text-input">ccs_id:</label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" style="font-weight: bold;color: black;"
                                            [(ngModel)]="utilisateur.ccs_id" [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>
                                           
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">created_at:</label>
                        <div class="col-md-8">
                            <input class="form-control" style="font-weight: bold;color: black;"
                                [ngModel]="utilisateur.created_at | date:'yyyy-MM-dd'"
                                (ngModelChange)="utilisateur.created_at = $event"
                                [ngModelOptions]="{standalone: true}" type="date" />
                        </div>
                    </div>
                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: orange" class="btn btn-primary"
                    (click)="utilisateurModal.hide()">Annuler</button>
                <button type="button" style="background-color:orange" (click)="saveUtilisateur()"
                    class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dark  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Suppression</h4>
                <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>l
                </button>
            </div>
            <div class="modal-body" style="padding: 52px">
                Êtes-vous sûr de vouloir supprimer ?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="background-color:orange"
                    (click)="deleteModal.hide()">Annuler</button>
                <button type="button" style="background-color:orange" (click)="delete()"
                    class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>